@page "/Thread"

<header>
    <h2>
        <strong>Post title</strong>
    </h2>
    <p>
        <a href="">User</a> - 00:00:0000 00/00/0000
    </p>
</header>

<PostCard></PostCard>
<PostCard></PostCard>
<PostCard></PostCard>

<div class="reply-box">
    <form class="w-100">
        <textarea style="height: 20vh" class="w-100" placeholder=" Your thoughts..."></textarea>
        <table class="w-100">
            <tr>
                <th>
                    <ul>
                        <li>Use Markdown</li>
                        <li>Only Imgur, YouTube URLs are allowed</li>
                        <li>Follow rules</li>
                    </ul>
                </th>
                <th>
                    <input type="submit" class="btn btn-primary"/>
                </th>
            </tr>
        </table>
    </form>
</div>