@page "/"

<div class="d-flex flex-row justify-content-between h-100">
    <div id="categories" class="h-75 d-flex flex-column">
        <div id="category">
            <h3>Title</h3>
            <div id="body">
                <ul>
                    <li><h5>Sub cat 1</h5></li>
                    <li><h5>Sub cat 2</h5></li>
                </ul>
            </div>
        </div>
        <div id="category">
            <h2>Title</h2>
            <div id="body">
                <ul>
                    <li><h5>Sub cat 1</h5></li>
                    <li><h5>Sub cat 2</h5></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="latest" class="w-25 h-75">
        <h3>Latest posts</h3>
        <ul>
            <li>Post 1</li>
        </ul>
    </div>
</div>