@page "/"

<div class="d-flex flex-row justify-content-between">
    <div class="categories d-flex flex-column">
        <CategoryCard></CategoryCard>
    </div>
    <div class="recent-threads w-25 h-75">
        <h4>
            <strong>Recent threads</strong>
        </h4>
        <ul class="recent-threads-list">
            <li>
                <a href="">Newest thread</a>
            </li>
        </ul>
    </div>
</div>