<li>
    <h4><a href="">Forum</a></h4>
    <table class="forum-info">
        <tr>
            <td>Description</td>
            <td>
                <a href="">Newest thread</a>
                <p><a href="">Author</a> - 0:00 00/00/0000</p>
            </td>
        </tr>
    </table>
</li>