@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <strong>Woodthrush</strong>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Forum</a>
                </li>
            </ul>
            <form class="d-flex justify-content-between" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: var(--page-bg)">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mx-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Sign up/Log in</a>
                </li>
            </ul>
            <div>
                <span class="oi oi-brush"></span>
            </div>
        </div>
    </nav>

    <div class="content px-4 h-100">
        @Body
    </div>

    <footer>
        Made with <a href="https://github.com/nxhduong/Woodthrush">Woodthrush</a> and ❤️
    </footer>
</div>