@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>

    <footer>
        Made with <a href="https://github.com/nxhduong/Woodthrush">Woodthrush</a> and ❤️
    </footer>
</div>