<table class="w-100">
    <tr>
        <td>
            <h4><a href="">Thread title</a></h4>
        </td>
        <td>
            Latest activity:
        </td>
    </tr>
    <tr>
        <td>
            <a href="">Author</a> - 00:00:00 00/00/0000
        </td>
        <td>
            Replies: 0
        </td>
    </tr>
</table>